<header>
    <div class="container">
        <h1>NPR News Scraper</h1>

        <button type="button" class="btn btn-primary scrape">Scrape NPR News</button>

        <br>
        <br>

        <div class="headlines">

        </div>
    </div>
</header>