<header>
    <h1>NPR News Scraper</h1>

    <button type="button" class="btn btn-primary scrape">Scrape NPR News</button>


    <div class="container">
        <div class="headlines">
            
        </div>
    </div>
</header>